/*
// Created: July 23, 2017; 4:40 PM
// Author: Jonathan Gryn
// Revisions: Jon (7/23/17) - Added style 
//            Jon (7/27/17) - Added Star Wars background  
*/

body {
  font-family: arial, 'Share Tech Mono', monospace;
  background: url("https://github.com/jongryn/GifTastic/blob/master/assets/images/19104.jpg?raw=true"); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: arial, 'Share Tech Mono', monospace;
  color: white;
  font-size: 45px;
}
.text-center {
  color: white;
}
.ratings {
  color: yellow;
  font-family: arial, 'Share Tech Mono', monospace;
  font-size: 18px;
}
.btn-primary {
  margin-left: 10px;
  background: yellow;
  color: blue;
}
@media screen and (max-width: 480px) {
  .movImage {
  	width: 500px;
  	height: 500px;
  }
  body {
  	background-color: red;
  }
}
.form-control {
  width: 30%;
}
#add {
  font-size: 20px;
  color: white;
}
#.btn-success{
  background-color: red;
  border-color: red;
}